.btn--noborder {
  border-width: 0;
}

@media screen and (min-width: 1021px) {

  .desktop-hide {
    display: none;
  }
}

.page-section {
  margin-bottom: 40px;
}

.page-section__text {
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #000;
  box-sizing: border-box;
  width: 100%;
}

.page-section:last-child {
  margin-bottom: 60px;
}

.page-header--bordered {
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.page-header__content--smpad {
  padding: 25px 0 28px;
}

@media screen and (min-width: 1021px) {
  .page-header__content--smpad {
    padding: 20px 0 28px;
  }
}

.breadcrumb--big {
  font-size: 14px;
}

.breadcrumb--big .breadcrumbs__li {
  margin-right: 5px;
}

.page-header__content .page-title--small {
  margin-top: 10px;
}

.page-title--small {
  width: 100%;
  color: #000;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}

.section-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.section-heading__col {
  flex: 1;
}

.section-heading__col--right {
  text-align: right;
  max-width: 75px;
}

@media screen and (min-width: 861px) {
  .section-heading__col--right {
    max-width: 300px;
  }
}

.leaders .catalog-cards {
  margin-top: -10px;
  padding-top: 0;
}

@media screen and (max-width: 1021px) {
  .leaders {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 481px) {
  .leaders .catalog-cards {
    margin-top: -20px;
  }
}

.catalog-card {
  overflow: visible;
}

.catalog-card__inner {
  overflow: hidden;
}

.catalog-card__badge {
  position: absolute;
  display: block;
  top: 15px;
  right: -5px;
  height: 20px;
  min-width: 23px;
  max-width: 90%;
  z-index: 5;
}

.catalog-card__badge::before {
  position: absolute;
  display: block;
  top: -5px;
  right: 0;
  content: '';
  border: 2.5px solid #d0a30e;
  border-top-color: transparent;
  border-right-color: transparent;
}

.catalog-card__badge-text {
  display: inline-block;
  line-height: 20px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  background-color: #ffc608;
  opacity: 1;
  transition: all .3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
}

.catalog-card__badge-icon {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all .3s ease;
}

.catalog-card__badge-icon img {
  width: 11px;
  height: 12px;
}

@media screen and (max-width: 1020px) {
  .catalog-card__inner {
    padding-top: 148%;
  }

  .catalog-card__title {
    margin-top: 11px;
  }

  .catalog-card__price, .catalog-card__discount, .catalog-card__notavailable {
    padding: 10px;
  }
}

@media screen and (min-width: 1021px) {
  .catalog-card__badge-text {
    opacity: 0;
  }

  .catalog-card__badge-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 20px;
    background-color: #ffc608;
    opacity: 1;
  }

  .catalog-card:hover .catalog-card__badge-text {
    opacity: 1;
  }

  .catalog-card:hover .catalog-card__badge-icon {
    opacity: 0;
  }
}

@media screen and (min-width: 1021px) {

  .catalog-card--big .catalog-card__inner {
    padding-top: 126%;
  }

  .catalog-card--big .catalog-card__bottom {
    bottom: 40px;
    border-radius: 20px;
    min-width: 65%;
    max-width: 90%;
  }

  .catalog-card--big:hover .catalog-card__bottom {
    transform: translate(-50%, 100px);
  }

  .catalog-card--big .catalog-card__price, .catalog-card--big .catalog-card__discount, .catalog-card--big .catalog-card__notavailable {
    padding: 10px;
  }

  .catalog-card--big .catalog-card__price {
    padding-left: 20px;
  }

  .catalog-card--big .catalog-card__price_full {
    padding-left: 10px;
    min-width: 100%;
  }

  .catalog-card--big .catalog-card__discount {
    padding-right: 20px;
  }

  .catalog-card--big .catalog-card__hover-price, .catalog-card--big .catalog-card__hover-notavailable {
    min-width: 65%;
    max-width: 90%;
    bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
  }
}

.sorting-panel {
  width: 100%;
}

.sorting-panel__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 0;
}

.sorting-panel__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.sorting-panel__group--left {
  position: relative;
  padding-bottom: 15px;
}

.sorting-panel__group--left::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.04);
  transform: translateX(-50%);
}

.sorting-panel__group--right {
  padding-top: 15px;
}

.sorting-panel__btn-text {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 7px;
  border-radius: 3px;
  transition: background .3s ease;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sorting-panel__btn-text .link {
  transition: all .3s ease;
}

.sorting-panel__btn input:checked ~ .sorting-panel__btn-text {
  background: #f2f2f2;
}

.sorting-panel__btn input:checked ~ .sorting-panel__btn-text .link {
  border-bottom-color: transparent;
}

@media screen and (max-width: 630px) {
  .sorting-panel__btn {
    text-align: center;
    width: 50%;
  }

  .sorting-panel__btn-text {
    padding: 3px 14px;
  }

  .sorting-panel__group {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 631px) {
  .sorting-panel__btn:not(:last-child) {
    display: inline-block;
    margin-right: 25px;
  }
}

@media screen and (min-width: 1021px) {
  .sorting-panel__row {
    padding: 20px 0;
  }

  .sorting-panel__group {
    width: 50%;
  }

  .sorting-panel__group--left {
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 0;
  }

  .sorting-panel__group--left::before {
    display: none;
  }

  .sorting-panel__group--right {
    padding-top: 0;
    justify-content: flex-end;
    text-align: right;
  }
}

.slider-counter {
  font-size: 20px;
  text-align: right;
  color: rgba(0, 0, 0, .05);
}

.slider-counter__current {
  color: rgba(0, 0, 0, 1);
}

.slider-counter__total {
  color: rgba(0, 0, 0, .35);
}

.bestsellers {
  padding-top: 20px;
}

.bestsellers__note {
  margin-top: 70px;
}

.bestsellers__note .btn {
  margin-bottom: 0;
}

@media screen and (max-width: 1021px) {

  .bestsellers .section-heading {
    margin-bottom: 6px;
  }
}

.carousel {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 88px;
  padding-right: 88px;
}

.carousel__buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 3;
}

.carousel__button {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  pointer-events: all;
  cursor: pointer;
  transition: box-shadow .3s ease;
  outline: none;
}

.carousel__button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.carousel__button--prev {
  transform: rotate(-180deg);
}

.carousel__button--prev:hover {
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
}

.carousel__button.is-disabled {
  cursor: default;
  pointer-events: none;
}

.carousel__button.is-disabled:hover {
  box-shadow: none;
}

.carousel__button-icon {
  position: absolute;
  top: 50%;
  right: 19px;
  fill: #000;
  transform: translateY(-50%);
  transition: all .3s ease;
}

.carousel__button.is-disabled .carousel__button-icon {
  fill: #a4a4a4;
}

@media screen and (min-width: 1480px) {

  .carousel {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel__buttons {
    left: 50%;
    width: calc(100% + 220px);
    transform: translateX(-50%) translateY(-50%);
  }
}

.carousel__container {
  width: 100%;
  overflow: hidden;
}

.product-slide__heading {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #000;
  box-sizing: border-box;
  padding: 0 0 24px;
}
